{% extends 'layout.html' %}

{% block body %}
<h1>Register</h1>
<form method="post" action="">
    <div class="form-group">
        {{render_field(form.username,class='form-control')}}
    </div>

      <div class="form-group">
        {{render_field(form.PASSWORD,class='form-control')}}
    </div>

      <div class="form-group">
        {{render_field(form.EMAIL,class='form-control')}}
    </div>
 <p> input type="submit" class="btn btn-primary" value="submit"</p>
</form>
{% endblock %}